branches/EMI/EMI.Website/EMI.Website/Service References/BitacorasService/Bitacoras2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17877/Servicios/Bitacoras.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Paginacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="_dc" type="xs:long" />
      <xs:element minOccurs="0" name="callback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="limit" type="xs:int" />
      <xs:element minOccurs="0" name="page" type="xs:int" />
      <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="start" type="xs:int" />
      <xs:element minOccurs="0" name="total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paginacion" nillable="true" type="tns:Paginacion" />
  <xs:complexType name="FiltrosModelOfBitacorasModelRb2EILji">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FiltrosModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BitacorasModel" Namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Comparador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contiene" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Diccionario" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="Entidad" nillable="true" type="tns:BitacorasModel" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Estados" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="FECHA_FINAL" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_INICIAL" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Operador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Predicado" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Unidades" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FiltrosModelOfBitacorasModelRb2EILji" nillable="true" type="tns:FiltrosModelOfBitacorasModelRb2EILji" />
  <xs:complexType name="BitacorasModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COLUMNA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_HIST" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ID_TABLA" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="LOGIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TABLA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALOR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BitacorasModel" nillable="true" type="tns:BitacorasModel" />
  <xs:complexType name="ArrayOfHistoricoEdicionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoricoEdicionModel" nillable="true" type="tns:HistoricoEdicionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoricoEdicionModel" nillable="true" type="tns:ArrayOfHistoricoEdicionModel" />
  <xs:complexType name="HistoricoEdicionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DETALLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOTIVO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TABLA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoricoEdicionModel" nillable="true" type="tns:HistoricoEdicionModel" />
</xs:schema>