branches/EMI/EMI.Website/EMI.Website/Service References/TablasService/Tablas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTABLAS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TABLAS" nillable="true" type="tns:TABLAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTABLAS" nillable="true" type="tns:ArrayOfTABLAS" />
  <xs:complexType name="TABLAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_TABLA" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TABLAS" nillable="true" type="tns:TABLAS" />
</xs:schema>