branches/EMI/EMI.Website/EMI.Website/Service References/AutorizacionService/Autorizacion3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17877/Servicios/Autorizacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" />
  <xs:import schemaLocation="http://localhost:17877/Servicios/Autorizacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" />
  <xs:element name="VerificaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="VerificaUsuarioResult" nillable="true" type="q1:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMenuOpciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMenuOpcionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerMenuOpcionesResult" nillable="true" type="q2:ListasServicioOfMenuOpcionesModelLLZUzu_Sn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" minOccurs="0" name="ObtenerUsuarioResult" nillable="true" type="q3:UsuariosModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>