branches/EMI/EMI.Website/EMI.Website/Service References/MaterialesService/Materiales1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMaterialesModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialesModel" nillable="true" type="tns:MaterialesModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterialesModel" nillable="true" type="tns:ArrayOfMaterialesModel" />
  <xs:complexType name="MaterialesModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARMAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CALIBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_MATERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FABRICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_DOTACION" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_MODIFICACION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_MATERIAL" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialesModel" nillable="true" type="tns:MaterialesModel" />
</xs:schema>