branches/EMI/EMI.Website/EMI.Website/Service References/MaterialesService/Materiales.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MATERIALES_BELICOS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARMAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CALIBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_MATERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FABRICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_DOTACION" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_MODIFICACION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_MATERIAL" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MATERIALES_BELICOS" nillable="true" type="tns:MATERIALES_BELICOS" />
</xs:schema>