EMI.Website/EMI.Website/Service References/ListaService/Listas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17877/Servicios/Listas.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Paginacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="_dc" type="xs:long" />
      <xs:element minOccurs="0" name="callback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="limit" type="xs:int" />
      <xs:element minOccurs="0" name="page" type="xs:int" />
      <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="start" type="xs:int" />
      <xs:element minOccurs="0" name="total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paginacion" nillable="true" type="tns:Paginacion" />
  <xs:complexType name="FiltrosModelOfListasItemsModelRb2EILji">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FiltrosModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ListasItemsModel" Namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Comparador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contiene" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Diccionario" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="Entidad" nillable="true" type="tns:ListasItemsModel" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Estados" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="FECHA_FINAL" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_INICIAL" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Operador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Predicado" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Unidades" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FiltrosModelOfListasItemsModelRb2EILji" nillable="true" type="tns:FiltrosModelOfListasItemsModelRb2EILji" />
  <xs:complexType name="ListasItemsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_LISTA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PADRE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TABLA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VALOR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListasItemsModel" nillable="true" type="tns:ListasItemsModel" />
  <xs:complexType name="ListasServicioOfListasItemsModelRb2EILji">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListasServicioOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ListasItemsModel" Namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="datos" nillable="true" type="tns:ArrayOfListasItemsModel" />
      <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
      <xs:element minOccurs="0" name="total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListasServicioOfListasItemsModelRb2EILji" nillable="true" type="tns:ListasServicioOfListasItemsModelRb2EILji" />
  <xs:complexType name="ArrayOfListasItemsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListasItemsModel" nillable="true" type="tns:ListasItemsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListasItemsModel" nillable="true" type="tns:ArrayOfListasItemsModel" />
  <xs:complexType name="FiltrosModelOfListasModelRb2EILji">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FiltrosModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ListasModel" Namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Comparador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contiene" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Diccionario" nillable="true" type="q4:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="Entidad" nillable="true" type="tns:ListasModel" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Estados" nillable="true" type="q5:ArrayOfstring" />
      <xs:element minOccurs="0" name="FECHA_FINAL" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_INICIAL" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Operador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Predicado" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Unidades" nillable="true" type="q6:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FiltrosModelOfListasModelRb2EILji" nillable="true" type="tns:FiltrosModelOfListasModelRb2EILji" />
  <xs:complexType name="ListasModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_LISTA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LISTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAYUS_MINUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAM_LIMITE" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="TIPO_VALOR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListasModel" nillable="true" type="tns:ListasModel" />
  <xs:complexType name="ListasServicioOfListasModelRb2EILji">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListasServicioOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ListasModel" Namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="datos" nillable="true" type="tns:ArrayOfListasModel" />
      <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
      <xs:element minOccurs="0" name="total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListasServicioOfListasModelRb2EILji" nillable="true" type="tns:ListasServicioOfListasModelRb2EILji" />
  <xs:complexType name="ArrayOfListasModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListasModel" nillable="true" type="tns:ListasModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListasModel" nillable="true" type="tns:ArrayOfListasModel" />
  <xs:complexType name="RespuestaServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaServicio" nillable="true" type="tns:RespuestaServicio" />
</xs:schema>