branches/EMI/EMI.Website/EMI.Website/Service References/ListaService/Listas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Listas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Listas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Listas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Listas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" />
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Listas.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Listas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IListas_ObtenerListasItems_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListasItems" />
  </wsdl:message>
  <wsdl:message name="IListas_ObtenerListasItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListasItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IListas_ObtenerListas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListas" />
  </wsdl:message>
  <wsdl:message name="IListas_ObtenerListas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListasResponse" />
  </wsdl:message>
  <wsdl:message name="IListas_ObtenerTodasListas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodasListas" />
  </wsdl:message>
  <wsdl:message name="IListas_ObtenerTodasListas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodasListasResponse" />
  </wsdl:message>
  <wsdl:message name="IListas_GuardarLista_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarLista" />
  </wsdl:message>
  <wsdl:message name="IListas_GuardarLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarListaResponse" />
  </wsdl:message>
  <wsdl:message name="IListas_GuardarItemLista_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarItemLista" />
  </wsdl:message>
  <wsdl:message name="IListas_GuardarItemLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarItemListaResponse" />
  </wsdl:message>
  <wsdl:portType name="IListas">
    <wsdl:operation name="ObtenerListasItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IListas/ObtenerListasItems" message="tns:IListas_ObtenerListasItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListas/ObtenerListasItemsResponse" message="tns:IListas_ObtenerListasItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListas">
      <wsdl:input wsaw:Action="http://tempuri.org/IListas/ObtenerListas" message="tns:IListas_ObtenerListas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListas/ObtenerListasResponse" message="tns:IListas_ObtenerListas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodasListas">
      <wsdl:input wsaw:Action="http://tempuri.org/IListas/ObtenerTodasListas" message="tns:IListas_ObtenerTodasListas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListas/ObtenerTodasListasResponse" message="tns:IListas_ObtenerTodasListas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IListas/GuardarLista" message="tns:IListas_GuardarLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListas/GuardarListaResponse" message="tns:IListas_GuardarLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarItemLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IListas/GuardarItemLista" message="tns:IListas_GuardarItemLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListas/GuardarItemListaResponse" message="tns:IListas_GuardarItemLista_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IListas" type="tns:IListas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListasItems">
      <soap:operation soapAction="http://tempuri.org/IListas/ObtenerListasItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListas">
      <soap:operation soapAction="http://tempuri.org/IListas/ObtenerListas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodasListas">
      <soap:operation soapAction="http://tempuri.org/IListas/ObtenerTodasListas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarLista">
      <soap:operation soapAction="http://tempuri.org/IListas/GuardarLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarItemLista">
      <soap:operation soapAction="http://tempuri.org/IListas/GuardarItemLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Listas">
    <wsdl:port name="BasicHttpBinding_IListas" binding="tns:BasicHttpBinding_IListas">
      <soap:address location="http://localhost:17877/Servicios/Listas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>