branches/EMI/EMI.Website/EMI.Website/Service References/UnidadesService/Unidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UnidadModelResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_UNIDAD" type="xs:int" />
      <xs:element minOccurs="0" name="UNIDAD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadModelResp" nillable="true" type="tns:UnidadModelResp" />
  <xs:complexType name="ArrayOfUnidadModelResp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnidadModelResp" nillable="true" type="tns:UnidadModelResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnidadModelResp" nillable="true" type="tns:ArrayOfUnidadModelResp" />
</xs:schema>