EMI.Website/EMI.Website/Service References/UsuariosService/Usuarios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsuarioModelResp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioModelResp" nillable="true" type="tns:UsuarioModelResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioModelResp" nillable="true" type="tns:ArrayOfUsuarioModelResp" />
  <xs:complexType name="UsuarioModelResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTRASEÑA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_ALTA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_BLOQUEO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_CADUCIDAD" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_PERFIL" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="LOGIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_FALLIDO" type="xs:int" />
      <xs:element minOccurs="0" name="PERFIL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioModelResp" nillable="true" type="tns:UsuarioModelResp" />
</xs:schema>