EMI.Website/EMI.Website/Service References/AutorizacionService/Autorizacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Autorizacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Autorizacion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Autorizacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Autorizacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" />
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Autorizacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutorizacion_VerificaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificaUsuario" />
  </wsdl:message>
  <wsdl:message name="IAutorizacion_VerificaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAutorizacion_ObtenerMenuOpciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMenuOpciones" />
  </wsdl:message>
  <wsdl:message name="IAutorizacion_ObtenerMenuOpciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMenuOpcionesResponse" />
  </wsdl:message>
  <wsdl:message name="IAutorizacion_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="IAutorizacion_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IAutorizacion">
    <wsdl:operation name="VerificaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorizacion/VerificaUsuario" message="tns:IAutorizacion_VerificaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorizacion/VerificaUsuarioResponse" message="tns:IAutorizacion_VerificaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMenuOpciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorizacion/ObtenerMenuOpciones" message="tns:IAutorizacion_ObtenerMenuOpciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorizacion/ObtenerMenuOpcionesResponse" message="tns:IAutorizacion_ObtenerMenuOpciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorizacion/ObtenerUsuario" message="tns:IAutorizacion_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorizacion/ObtenerUsuarioResponse" message="tns:IAutorizacion_ObtenerUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAutorizacion" type="tns:IAutorizacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificaUsuario">
      <soap:operation soapAction="http://tempuri.org/IAutorizacion/VerificaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMenuOpciones">
      <soap:operation soapAction="http://tempuri.org/IAutorizacion/ObtenerMenuOpciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/IAutorizacion/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autorizacion">
    <wsdl:port name="BasicHttpBinding_IAutorizacion" binding="tns:BasicHttpBinding_IAutorizacion">
      <soap:address location="http://localhost:17877/Servicios/Autorizacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>