EMI.Website/EMI.Website/Service References/AutorizacionService/Autorizacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenuOpcionesModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuOpcionesModel" nillable="true" type="tns:MenuOpcionesModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuOpcionesModel" nillable="true" type="tns:ArrayOfMenuOpcionesModel" />
  <xs:complexType name="MenuOpcionesModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLASE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICONCCS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_MENU" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PADRE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MENU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOOLTIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuOpcionesModel" nillable="true" type="tns:MenuOpcionesModel" />
  <xs:complexType name="UsuariosModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTRASEÑA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_ALTA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_CADUCIDAD" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_PERFIL" type="xs:int" />
      <xs:element minOccurs="0" name="ID_UNIDAD" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="LOGIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERFIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNIDAD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuariosModel" nillable="true" type="tns:UsuariosModel" />
</xs:schema>