EMI.Website/EMI.Website/Service References/KardexMunicionesService/KardexMuniciones1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKardexModelResp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KardexModelResp" nillable="true" type="tns:KardexModelResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKardexModelResp" nillable="true" type="tns:ArrayOfKardexModelResp" />
  <xs:complexType name="KardexModelResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENTRADA" type="xs:int" />
      <xs:element minOccurs="0" name="FECHA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_MAT_BELICO" type="xs:int" />
      <xs:element minOccurs="0" name="ID_MOV" type="xs:int" />
      <xs:element minOccurs="0" name="ID_MUNICION_UNIDAD" type="xs:int" />
      <xs:element minOccurs="0" name="ID_OPERACION" type="xs:int" />
      <xs:element minOccurs="0" name="LOGIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPERACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SALDO" type="xs:int" />
      <xs:element minOccurs="0" name="SALIDA" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KardexModelResp" nillable="true" type="tns:KardexModelResp" />
  <xs:complexType name="ArrayOfArmamentoModelResp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArmamentoModelResp" nillable="true" type="tns:ArmamentoModelResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArmamentoModelResp" nillable="true" type="tns:ArrayOfArmamentoModelResp" />
  <xs:complexType name="ArmamentoModelResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="CALIBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANTIDAD_DISPONIBLE" type="xs:int" />
      <xs:element minOccurs="0" name="CATEGORIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FABRICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_BAJA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_DOTACION" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_ITEM" type="xs:int" />
      <xs:element minOccurs="0" name="ID_MAT_BELICO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LOGIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOGIN_BAJA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_CANON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_CIERRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_CORREDERA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_FUSIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBSERVACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBSERVACION_BAJA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNIDAD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArmamentoModelResp" nillable="true" type="tns:ArmamentoModelResp" />
</xs:schema>