branches/EMI/EMI.Website/EMI.Website/Service References/HistoricosService/Historicos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHistoricoVerificacionModelResp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoricoVerificacionModelResp" nillable="true" type="tns:HistoricoVerificacionModelResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoricoVerificacionModelResp" nillable="true" type="tns:ArrayOfHistoricoVerificacionModelResp" />
  <xs:complexType name="HistoricoVerificacionModelResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="AERONAVE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FABRICANTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GRUPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HORA_ACTUAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HORA_ANTERIOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_SERIE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBSERVACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESPONSABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_COMPONENTE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoricoVerificacionModelResp" nillable="true" type="tns:HistoricoVerificacionModelResp" />
</xs:schema>