branches/EMI/EMI.Website/EMI.Website/Service References/ReportesService/Reportes2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17877/Servicios/Reportes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" />
  <xs:element name="ObtenerExistenciasArmamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ANIO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MES" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_UNIDAD" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerExistenciasArmamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerExistenciasArmamentoResult" nillable="true" type="q1:ArrayOfExistenciasModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerExistenciasMuniciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ANIO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MES" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_UNIDAD" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerExistenciasMunicionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerExistenciasMunicionesResult" nillable="true" type="q2:ArrayOfExistenciasModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetallePedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FECHA_INI" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FECHA_FIN" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ID_UNIDAD" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetallePedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerDetallePedidoResult" nillable="true" type="q3:ArrayOfDetallePedidoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaterialesLogisticos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_MAT_LOGISTICO" type="xs:int" />
        <xs:element minOccurs="0" name="ID_UNIDAD" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaterialesLogisticosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerMaterialesLogisticosResult" nillable="true" type="q4:ArrayOfMatLogisticoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerExistenciasMatLogisticos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ANIO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MES" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_UNIDAD" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerExistenciasMatLogisticosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerExistenciasMatLogisticosResult" nillable="true" type="q5:ArrayOfExistenciasModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>