EMI.Website/EMI.Website/Service References/MaterialesService/Materiales.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Materiales" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Materiales.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Materiales.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Materiales.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" />
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Materiales.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" />
      <xsd:import schemaLocation="http://localhost:17877/Servicios/Materiales.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMateriales_GuardarMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarMaterial" />
  </wsdl:message>
  <wsdl:message name="IMateriales_GuardarMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMateriales_EliminarMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMaterial" />
  </wsdl:message>
  <wsdl:message name="IMateriales_EliminarMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMateriales_ObtenerMaterialesPaginados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMaterialesPaginados" />
  </wsdl:message>
  <wsdl:message name="IMateriales_ObtenerMaterialesPaginados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMaterialesPaginadosResponse" />
  </wsdl:message>
  <wsdl:message name="IMateriales_ObtenerMaterialBelico_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMaterialBelico" />
  </wsdl:message>
  <wsdl:message name="IMateriales_ObtenerMaterialBelico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMaterialBelicoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMateriales">
    <wsdl:operation name="GuardarMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMateriales/GuardarMaterial" message="tns:IMateriales_GuardarMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMateriales/GuardarMaterialResponse" message="tns:IMateriales_GuardarMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMateriales/EliminarMaterial" message="tns:IMateriales_EliminarMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMateriales/EliminarMaterialResponse" message="tns:IMateriales_EliminarMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMaterialesPaginados">
      <wsdl:input wsaw:Action="http://tempuri.org/IMateriales/ObtenerMaterialesPaginados" message="tns:IMateriales_ObtenerMaterialesPaginados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMateriales/ObtenerMaterialesPaginadosResponse" message="tns:IMateriales_ObtenerMaterialesPaginados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMaterialBelico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMateriales/ObtenerMaterialBelico" message="tns:IMateriales_ObtenerMaterialBelico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMateriales/ObtenerMaterialBelicoResponse" message="tns:IMateriales_ObtenerMaterialBelico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMateriales" type="tns:IMateriales">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarMaterial">
      <soap:operation soapAction="http://tempuri.org/IMateriales/GuardarMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMaterial">
      <soap:operation soapAction="http://tempuri.org/IMateriales/EliminarMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMaterialesPaginados">
      <soap:operation soapAction="http://tempuri.org/IMateriales/ObtenerMaterialesPaginados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMaterialBelico">
      <soap:operation soapAction="http://tempuri.org/IMateriales/ObtenerMaterialBelico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Materiales">
    <wsdl:port name="BasicHttpBinding_IMateriales" binding="tns:BasicHttpBinding_IMateriales">
      <soap:address location="http://localhost:17877/Servicios/Materiales.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>