EMI.Website/EMI.Website/Service References/MaterialesBelicosLogisticosService/MaterialesBelicosLogisticos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17877/Servicios/MaterialesBelicosLogisticos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" />
  <xs:import schemaLocation="http://localhost:17877/Servicios/MaterialesBelicosLogisticos.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" />
  <xs:import schemaLocation="http://localhost:17877/Servicios/MaterialesBelicosLogisticos.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" />
  <xs:element name="ObtenerMaterialesPaginados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="paginacion" nillable="true" type="q1:Paginacion" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="filtros" nillable="true" type="q2:FiltrosModelOfArmamentoModelRb2EILji" />
        <xs:element minOccurs="0" name="almacen" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaterialesPaginadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerMaterialesPaginadosResult" nillable="true" type="q3:ListasServicioOfArmamentoModelRespLLZUzu_Sn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMatBelicosPaginados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="paginacion" nillable="true" type="q4:Paginacion" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="filtros" nillable="true" type="q5:FiltrosModelOfArmamentoModelRb2EILji" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMatBelicosPaginadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerMatBelicosPaginadosResult" nillable="true" type="q6:ListasServicioOfMatBelicoModelRespLLZUzu_Sn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMunicionesPorUnidadPaginados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="paginacion" nillable="true" type="q7:Paginacion" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="filtros" nillable="true" type="q8:FiltrosModelOfArmamentoModelRb2EILji" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMunicionesPorUnidadPaginadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerMunicionesPorUnidadPaginadosResult" nillable="true" type="q9:ListasServicioOfMatBelicoModelRespLLZUzu_Sn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPartesArmamentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="filtros" nillable="true" type="q10:FiltrosModelOfArmamentoModelRb2EILji" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPartesArmamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerPartesArmamentosResult" nillable="true" type="q11:ListasServicioOfParteArmamentoModelRespLLZUzu_Sn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCmpArmamentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="filtros" nillable="true" type="q12:FiltrosModelOfArmamentoModelRb2EILji" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCmpArmamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerCmpArmamentosResult" nillable="true" type="q13:ListasServicioOfParteArmamentoModelRespLLZUzu_Sn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarModeloArmamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" minOccurs="0" name="mat" nillable="true" type="q14:MAT_BELICOS" />
        <xs:element minOccurs="0" name="detalles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarModeloArmamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="GuardarModeloArmamentoResult" nillable="true" type="q15:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarItemArmamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" minOccurs="0" name="item" nillable="true" type="q16:ITEMS_ARMAMENTO" />
        <xs:element minOccurs="0" name="detalles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarItemArmamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="GuardarItemArmamentoResult" nillable="true" type="q17:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaItemArmamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" minOccurs="0" name="item" nillable="true" type="q18:ITEMS_ARMAMENTO" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaItemArmamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="BajaItemArmamentoResult" nillable="true" type="q19:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarMuniciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" minOccurs="0" name="mat" nillable="true" type="q20:MAT_BELICOS" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarMunicionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="GuardarMunicionesResult" nillable="true" type="q21:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMatLogisticosPaginagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="paginacion" nillable="true" type="q22:Paginacion" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="filtros" nillable="true" type="q23:FiltrosModelOfArmamentoModelRb2EILji" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMatLogisticosPaginagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerMatLogisticosPaginagosResult" nillable="true" type="q24:ListasServicioOfMatLogisticoModelRespLLZUzu_Sn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerItemMatLogisticosPaginagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="paginacion" nillable="true" type="q25:Paginacion" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="filtros" nillable="true" type="q26:FiltrosModelOfArmamentoModelRb2EILji" />
        <xs:element minOccurs="0" name="almacen" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerItemMatLogisticosPaginagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerItemMatLogisticosPaginagosResult" nillable="true" type="q27:ListasServicioOfMatLogisticoModelRespLLZUzu_Sn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarMatLogistico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" minOccurs="0" name="mat" nillable="true" type="q28:MAT_LOGISTICOS" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarMatLogisticoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="GuardarMatLogisticoResult" nillable="true" type="q29:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarItemMatLogistico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" minOccurs="0" name="mat" nillable="true" type="q30:ITEMS_MAT_LOGISTICOS" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarItemMatLogisticoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="GuardarItemMatLogisticoResult" nillable="true" type="q31:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarComponentesArmamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_CMP1" type="xs:int" />
        <xs:element minOccurs="0" name="ID_CMP2" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarComponentesArmamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="CambiarComponentesArmamentoResult" nillable="true" type="q32:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarSalidaMunicionesUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detalles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarSalidaMunicionesUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="GuardarSalidaMunicionesUnidadResult" nillable="true" type="q33:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificacionMaterialLogistico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/EMI.Wcf.Model" minOccurs="0" name="item" nillable="true" type="q34:ITEMS_VERIFICACIONES" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificacionMaterialLogisticoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="VerificacionMaterialLogisticoResult" nillable="true" type="q35:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistoricosCmpArmamentoPaginados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="paginacion" nillable="true" type="q36:Paginacion" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="filtros" nillable="true" type="q37:FiltrosModelOfKardexModelRb2EILji" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistoricosCmpArmamentoPaginadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerHistoricosCmpArmamentoPaginadosResult" nillable="true" type="q38:ListasServicioOfHistoricoCmpModelRespLLZUzu_Sn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaterialBelicoPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_MAT_BELICO" type="xs:int" />
        <xs:element minOccurs="0" name="ID_UNIDAD" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaterialBelicoPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/EMI.Wcf.Servicio.Models" minOccurs="0" name="ObtenerMaterialBelicoPorIDResult" nillable="true" type="q39:ArmamentoModelResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArmamentoPorUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_MAT_BELICO" type="xs:int" />
        <xs:element minOccurs="0" name="ID_UNIDAD" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArmamentoPorUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/EMI.Wcf.Aplicacion.Modelo" minOccurs="0" name="ObtenerArmamentoPorUnidadResult" nillable="true" type="q40:ListasServicioOfArmamentoModelRespLLZUzu_Sn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>